---
import type { z } from "astro:content"
import Article from "./Article.astro"
import Book from "./Book.astro"
import MusicAlbum from "./MusicAlbum.astro"
import MusicPlaylist from "./MusicPlaylist.astro"
import MusicRadioStation from "./MusicRadioStation.astro"
import MusicSong from "./MusicSong.astro"
import OgAudio from "./OgAudio.astro"
import OgImage from "./OgImage.astro"
import OgOptional from "./OgOptional.astro"
import OgVideo from "./OgVideo.astro"
import Profile from "./Profile.astro"
import Twitter from "./Twitter.astro"
import Video from "./Video.astro"
import type { seoSchema } from "./seo"

export type SeoType = z.infer<ReturnType<typeof seoSchema>>
type SeoOptions = {
	siteName: string
	defaults?: { charset?: string }
	separator?: string
}
type Props = {
	seo: SeoType
	options?: SeoOptions
}

const { seo, options } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<title>
	{seo.title}
	{
		options?.siteName && !seo.title?.endsWith(options?.siteName)
			? ` ${options.separator || "|"} ${options.siteName}`
			: ""
	}
</title>
<meta name="description" content={seo.description} />
<meta charset={seo.charset || options?.defaults?.charset || "utf-8"} />
<link rel="canonical" href={seo.canonical || canonicalURL} />

{
	(seo.noFollow || seo.noIndex) && (
		<meta
			name="robots"
			content={`${seo.noIndex ? "noindex" : "index"}, ${seo.noFollow ? "nofollow" : "follow"}`}
		/>
	)
}

{
	seo.openGraph && (
		<>
			<meta property="og:title" content={seo.openGraph.title} />
			<meta property="og:type" content={seo.openGraph.type} />
			<meta property="og:url" content={seo.openGraph.url || Astro.url.href} />

			{seo.openGraph.optional && <OgOptional optional={seo.openGraph.optional} />}
			{seo.openGraph.image && (
				<OgImage image={seo.openGraph.image} imageAlt={seo.openGraph.imageAlt} />
			)}
			{seo.openGraph.audio && <OgAudio audio={seo.openGraph.audio} />}
			{seo.openGraph.video && <OgVideo video={seo.openGraph.video} />}
			{seo.openGraph.article && <Article article={seo.openGraph.article} />}
			{seo.openGraph.book && <Book book={seo.openGraph.book} />}
			{seo.openGraph.profile && <Profile profile={seo.openGraph.profile} />}

			{seo.openGraph.type === "music.album" && seo.openGraph.musicAlbum && (
				<MusicAlbum music={seo.openGraph.musicAlbum} />
			)}
			{seo.openGraph.type === "music.song" && seo.openGraph.musicSong && (
				<MusicSong music={seo.openGraph.musicSong} />
			)}
			{seo.openGraph.type === "music.playlist" && seo.openGraph.musicPlaylist && (
				<MusicPlaylist music={seo.openGraph.musicPlaylist} />
			)}
			{seo.openGraph.type === "music.radio_station" && seo.openGraph.musicRadioStation && (
				<MusicRadioStation music={seo.openGraph.musicRadioStation} />
			)}

			{seo.openGraph.type === "video.movie" && seo.openGraph.videoMovie && (
				<Video video={seo.openGraph.videoMovie} />
			)}
			{seo.openGraph.type === "video.episode" && seo.openGraph.videoEpisode && (
				<Video video={seo.openGraph.videoEpisode} />
			)}
			{seo.openGraph.type === "video.tv_show" && seo.openGraph.videoTvShow && (
				<Video video={seo.openGraph.videoTvShow} />
			)}
			{seo.openGraph.type === "video.other" && seo.openGraph.videoOther && (
				<Video video={seo.openGraph.videoOther} />
			)}
		</>
	)
}

{seo.twitter && <Twitter twitter={seo.twitter} />}
