---
import { Image } from "astro:assets"
interface Props {
	title: string
	link: string
	slug: string
	mediaSrc?: any
	mediaAlt?: string
}

const { link, title, slug, mediaSrc, mediaAlt = "TODO: Add alt text" } = Astro.props
---

<a class="group" href={link}>
	<article
		class="prose flex flex-col gap-1 rounded-lg border border-grayish-300 p-4 shadow-md transition-transform dark:prose-invert hover:scale-105 prose-h2:m-0 prose-p:my-0 prose-p:leading-normal prose-img:my-0">
		<header class="flex flex-col gap-4">
			{
				mediaSrc && (
					<Image class="rounded-md" src={mediaSrc} alt={mediaAlt} transition:name={`fm-${slug}`} />
				)
			}
			<h2
				class="text-balance text-2xl text-secondary-600 underline-offset-2 group-hover:underline dark:text-secondary-500"
				transition:name={`h-${slug}`}>
				{title}
			</h2>
		</header>
		<p class="line-clamp-4 sm:line-clamp-3">
			<slot />
		</p>
	</article>
</a>
