---
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"

type Props = { work: CollectionEntry<"work"> }
const { work } = Astro.props
---

<li
	class="snap-start rounded bg-grayish-100 p-8 shadow-md shadow-grayish-600/50 duration-200 hover:scale-105 hover:shadow-lg hover:shadow-grayish-700/50 dark:bg-grayish-800 dark:shadow-grayish-400/50 dark:hover:shadow-grayish-300/50"
>
	<Image src={work.data.image} alt={work.data.imageAlt} />
	<h3 class="pt-2 text-2xl text-primary-700">{work.data.name}</h3>
	<a
		class="text-sm text-primary-700 no-underline hover:underline dark:text-primary-100"
		href={work.data.link}>{work.data.services?.join(", ")}</a
	>
	<p class="pt-2 text-grayish-900 dark:text-grayish-100">{work.data.description}</p>
</li>
