---
import type { HTMLAttributes } from "astro/types"
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"

type Props = { work: CollectionEntry<"work"> } & HTMLAttributes<"button">
const { work, ...attrs } = Astro.props
---

<button
	class:list={[
		"hexagon hover:hexarect focus-visible:hexarect group/hexbutton bg-grayish-700 col-span-4 row-span-2 rounded-sm p-0.5 transition-[clip-path] hover:z-20 focus-visible:z-20",
		"sm:nth-of-type-[2n]:col-start-4 sm:nth-of-type-[2n-1]:col-start-1",
		"sm:nth-of-type-[2n-1]:row-start-[calc(((var(--hex-index)+1)/2)*2-1)]",
		"sm:nth-of-type-[2n]:row-start-[calc((var(--hex-index)/2)*2)]",
		"md:nth-of-type-[3n]:col-start-4 md:nth-of-type-[3n-1]:col-start-7 md:nth-of-type-[3n-2]:col-start-1",
		"md:nth-of-type-[3n-2]:row-start-[calc(var(--hex-index)-var(--hex-index)/3)]",
		"md:nth-of-type-[3n-1]:row-start-[calc(var(--hex-index)-var(--hex-index)/3)]",
		"md:nth-of-type-[3n]:row-start-[calc(var(--hex-index)/3*2)]",
		"lg:nth-of-type-[5n]:col-start-10 lg:nth-of-type-[5n-1]:col-start-4 lg:nth-of-type-[5n-2]:col-start-13 lg:nth-of-type-[5n-3]:col-start-7 lg:nth-of-type-[5n-4]:col-start-1",
		"lg:nth-of-type-[5n-4]:row-start-[calc(var(--hex-index)/3+1)]",
		"lg:nth-of-type-[5n-3]:row-start-[calc((var(--hex-index)-1)/3+1)]",
		"lg:nth-of-type-[5n-2]:row-start-[calc((var(--hex-index)-2)/3+1)]",
		"lg:nth-of-type-[5n-1]:row-start-[calc(var(--hex-index)/3+1)]",
		"lg:nth-of-type-[5n]:row-start-[calc((var(--hex-index)-1)/3+1)]"
	]}
	popovertarget={`popover_${work.slug}`}
	{...attrs}
>
	<div
		class="hexagon group-hover/hexbutton:hexarect group-focus-visible/hexbutton:hexarect to-grayish-50 from-grayish-200 dark:to-grayish-700 dark:from-grayish-900 relative rounded-sm bg-linear-to-br transition-[clip-path]"
	>
		<Image
			class="hexagon group-hover/hexbutton:hexarect group-focus-visible/hexbutton:hexarect rounded-sm object-cover p-2 transition-[clip-path]"
			src={work.data.image}
			alt={work.data.imageAlt}
			widths={[256, 262, 338, 364, 387, 571, work.data.image.width]}
			sizes={`(max-width: 432px) 364px, (max-width: 639px) 571px, (max-width: 767px) 387px, (max-width: 1023px) 338px, (max-width: 1279px) 262px, (min-width: 1280px) 256px, ${work.data.image.width}px`}
			title={work.data.description}
		/>
		<div class="absolute bottom-4 w-full text-center text-sm font-medium md:text-base">
			{work.data.name}
		</div>
	</div>
</button>
